@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);
body#tinymce{
	padding-top:20px;
}
body[data-id="page_content"]{
	padding-left:20px;
	padding-right:20px;
	background:#fff;
}
body[data-id="navigation"]{
    padding: 0 !important;
}
p{
	margin:0;
}
@media (min-width: 992px){
	#content-images img{
		width:100%;
	}
}